aniso8601==7.0.0
backcall==0.2.0
colorama==0.4.3
decorator==4.4.2
Django==2.2.20
django-extensions==3.0.3
django-filter==2.3.0
graphene==2.1.8
graphene-django==2.12.1
graphql-core==2.3.2
graphql-relay==2.0.1
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
parso==0.7.0
pickleshare==0.7.5
promise==2.3
prompt-toolkit==3.0.5
Pygments==2.6.1
PyMySQL==0.10.0
pytz==2020.1
Rx==1.6.1
sh==1.13.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
traitlets==4.3.3
Unidecode==1.1.1
wcwidth==0.2.5
